a
  color: #409eff

.navbar .site-name
  color: #409eff !important

.nav-links a
  color: #1989fa !important

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active
  border-bottom-color: #1989fa !important

a.sidebar-link.active
  color: #409eff !important
  border-left-color: #409eff !important

a.sidebar-link:hover
  color: #409eff !important

table
  margin: inherit
  display: table

.no-sidebar .theme-default-content:not(.custom)
  max-width: inherit
  padding: 0

.home .hero .action-button
  background-color: #409eff !important
  border-color: #409eff !important

.home .hero .action-button:hover
  background-color: #66b1ff !important
  border-color: #66b1ff !important

.tl #cf {
  margin: 0 !important
}
